.content {
    display: flex;
}

.feed-item {
    border-left: 2px solid transparent;
    padding-left: 0.5rem;
}

.content:hover .feed-item {
    border-left: 2px solid lightgray;
}

.feed-name-and-date {
    font-size: 0.75em;
    color: gray;
    margin-bottom: 0.75rem;
}

.item-title a {
    font-size: 1.25em;
    color: dimgray;
    margin-bottom: 0;
}

.item-title:hover {
    text-decoration: underline;
}

.item-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: 0.5rem;

    visibility: hidden;
}

.content:hover .item-actions {
    visibility: visible;
}

.action:hover {
    cursor: pointer;
}
