.content.feed-item {
    border-left: 1px solid transparent;
    padding-left: 0.5rem;
}

.feed-item:hover {
    border-left: 1px solid dimgray;
}

.feed-name-and-date {
    font-size: 0.75em;
    color: gray;
    margin-bottom: 0.75rem;
}

.item-title a {
    font-size: 1.25em;
    color: dimgray;
    margin-bottom: 0;
}

.item-title:hover {
    text-decoration: underline;
}

.save {
    padding-left: 0.4rem;
}

.save:hover {
    cursor: pointer;
}

.save svg {
    position: relative;
    top: 0.2rem;
}
