.items {
    max-width: 80%;
    max-height: 12em;
    overflow: scroll;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.submit-control {
    max-width: 80%;
    margin: auto;
}

button.submit-button {
    width: 100%;
    border: 1px solid lightgray;
}

button.item-button {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    border-radius: 0;
}

.item-icon {
    margin-left: 0.75em;
}

div.item-control + div.item-control {
    border-top: 1px solid lightgray;
}

button.item-button:hover:not(.item-selected) {
    background: lightgray;
}
